@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Slab:wght@400;700&display=swap');

*,*::before, *::after{
  box-sizing: border-box;
}

:root{
  --primary-font:'Roboto Slab', serif;
  --secondary-font:'Montserrat', sans-serif;
  --gunmetal:#2C3539;
  --indigo:#4b0082;
  --hooker:	#49796b;
  font-size:16px;
  font-family:var(--primary-font);
}

body{
  background-color:var(--gunmetal);
}

.flex{display:flex;}
.flex-column{flex-direction: column;}
.flex-wrap{flex-wrap: wrap;}
.flex-center{justify-content: center;}
.flex-align-center{align-items: center;}

.link-btn{
  all:unset;
}

.--app{
  padding:2em .5em;
}

.--logged-out-view,
.--logged-in-view{
  max-width:28.125rem;
  margin:0 auto;
}

.--logged-out-view{
  background: url('src/assets/images/login-bg.jpg');
  background-size:cover;
  background-repeat:no-repeat;
  min-height:90vh;
}
