@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Slab:wght@400;700&display=swap');

*,*::before, *::after{
  box-sizing: border-box;
}

:root{
  --primary-font:'Roboto Slab', serif;
  --secondary-font:'Montserrat', sans-serif;
  --gunmetal:#2C3539;
  --indigo:#4b0082;
  --hooker:	#49796b;
  --tiffany:#7ED3BB;
  --oranred:#FF473A;
  --red:#FF0000;
  --yellow:#FFF500;
  --orange:#FFA800;
  --blue:#0500FF;
  --black:#131313;
  --white:#F8F8F8;
  --IVpt:.25rem;
  --VIIIpt:.5rem;
  --XVIpt:1rem;
  --XXIVpt:1.5rem;
  --XXXIIpt:2rem;
  --XLpt:2.5rem;
  font-size:16px;
  font-family:var(--primary-font);
}

body{
  background-color:var(--gunmetal);
}

h1,h2,h3,h4,h5,h6{
  margin:0;
  padding: 0;
}

.IVpt-my{margin:var(--IVpt) 0}
.IVpt-mx{margin:0 var(--IVpt)}
.VIIIpt-my{margin:var(--VIIIpt) 0}
.VIIIpt-mx{margin:0 var(--VIIIpt)}
.XVIpt-mxy{margin:var(--XVIpt) var(--XVIpt)}
.XVIpt-my{margin:var(--XVIpt) 0}
.XVIpt-mx{margin:0 var(--XVIpt)}
.XXXIIpt-my{margin:var(--XXXIIpt) 0}
.XXXIIpt-mx{margin:0 var(--XXXIIpt)}

.VIIIpt-py{padding:var(--VIIIpt) 0}
.VIIIpt-px{padding:0 var(--VIIIpt)}
.XVIpt-pxy{padding:var(--XVIpt) var(--XVIpt)}
.XVIpt-py{padding:var(--XVIpt) 0}
.XVIpt-px{padding:0 var(--XVIpt)}
.XXXIIpt-py{padding:var(--XXXIIpt) 0}
.XXXIIpt-px{padding:0 var(--XXXIIpt)}


.bold{font-weight:700;}
.text-center{text-align: center;}
.text-right{text-align: right;}
.text-black{color:var(--black);}
.text-white{color:var(--white);}

.flex{display:flex;}
.flex-column{flex-direction: column;}
.flex-wrap{flex-wrap: wrap;}
.flex-center{justify-content: center;}
.flex-align-center{align-items: center;}

.hidden{display:none;}

.block-center{
  margin:0 auto;
}

.btn{
  display:flex;
  justify-content: center;
  align-items: center;
  border:unset;
  margin:.5rem 0;
  box-shadow: 0px 4px 5px var(--black);
  -webkit-appearance: none;
  appearance: none;
  transition: box-shadow .4s .1s;
}

.link-btn{
  all:unset;
  appearance: none;
  -webkit-appearance: none;
  transition: font-size .4s .1s, color .4s .1s;
}

.btn:hover,
.link-btn:hover{
  cursor: pointer;
}

.btn:hover{
  box-shadow: none;
}

.link-btn:hover{
  color:var(--hooker);
  text-shadow: 1px 1px 1px var(--black);
  font-size:1.2rem;
}

/* === Sections - General === */
.--logged-out-view,
.--logged-in-view{
  max-width:28.125rem;
}

#logged-out-view .container {
  min-height:100vh;
  justify-content: space-between;
}

.container {
  max-width: 100vw;
  margin: 0 auto;
  width: 100%;
}

/* == Logged Out View == */

.--logged-out-view{
  background: url('src/assets/images/login-bg-sm.jpg');
  background-size:cover;
  background-repeat:no-repeat;
  
  
}

/* == Sign Ins == */
.--google-btn{
  gap:1em;
  width:100%;
  background-color: var(--white);
}

.--google-icon{
  width:var(--XXIVpt);
}

.--submit-btn{
  color:var(--white);
  background-color:var(--oranred);
}

.--update-profile-btn{
  color:var(--white);
  background-color: var(--indigo);
}

.--password-reset,
.--create-account{
  color:var(--white);
  text-shadow: 2px 2px 5px var(--black);
}

.--password-reset{
  margin-top:var(--VIIIpt);
}

.--create-account{
  text-align:right;
}

/* == Logged In View == */
.--logged-in-view{
  background-color:var(--hooker);
}

nav {
  margin: 0.6em 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 1.875em;
}

.icon-img-btn:hover {
  filter: invert(0.5);
}

.app-container{
  min-height:100vh;
  max-width:19.125rem;
  margin:0 auto;
}

/* == User Section == */
.user-section{
  gap:0.8em;
}

.user-section img {
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 100%;
  border: var(--VIIIpt) solid var(--black);
}

.user-section h2 {
  font-size: 1.2rem;
}

/* === Post Section === */

.post-section, .display-update-container {
  gap: 1em;
}

.--post-btn{
  background-color:var(--oranred);
}

/* == Posts Section - Posts == */
.--tasks-container {
  gap: 1em;
  margin-bottom: 1.8em;
}

.post {
  display: flex;
  flex-direction: column;
  background-color: var(--tiffany);
  color:var(--white);
  text-shadow:2px 2px 5px var(--black);
  padding: 0.8em;
  gap: 0.4em;
}

.post .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post .header h3 {
  font-size: 1em;
}

.post .header img {
  width: 3em;
  height: 2em;
}

.post p {
  font-size: 0.9em;
  line-height: 1.3em;
}

/* = Posts Section - Posts - Footer = */
.post .footer {
  display: flex;
  align-self: flex-start;
  gap: 0.4em;
}

.post .footer button {
  font-size: 0.9em;
  padding: 0.2em 0.8em;
  box-shadow: 0px var(--small-button-height) 0px 0px var(--dark-color);
  position: relative;
}

.post .footer button:hover {
  top: var(--small-button-height);
  box-shadow: none;
}

.post .footer .edit-color {
  background-color: var(--post-color);
}

.post .footer .delete-color {
  background-color: var(--delete-color);
}

/* == Post Section - Mood Emojis == */
.status-emoji-btn {
  font-size: 0.8em;
  font-family:var(--secondary-font);
  gap: 0.3em;
  background-color: transparent;
  border: 0;
  color:var(--white);
  text-shadow:2px 2px 5px var(--black);
}

.status-emoji-btn:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.status-emoji-btn img {
  width: 3.1em;
  height: 3.1em;
}

.selected-emoji {
  transform: scale(1.2);
  opacity: 1;
}

.unselected-emoji {
  transform: scale(1);
  opacity: 0.5;
}

.fire{
  -webkit-mask-image: url('src/assets/icons/fire.svg');
  mask-image: url('src/assets/icons/fire.svg');
}
.red.fire{background-color: var(--red);}
.yellow.fire{background-color: var(--yellow);}
.orange.fire{background-color: var(--orange);}
.white.fire{background-color: var(--white);}
.blue.fire{background-color: var(--blue);}

/* === Common for elements === */

/* == Form Inputs == */
.--due{
  /* font-family:var(--secondary-font); */
  text-shadow:2px 2px 5px var(--black);
}

input{
  border-radius:unset;
}

input[type='text'],
input[type='password']{
  border:unset;
}

input::placeholder{
  color:var(--black);
}

input[name='email'],
input[name='displayName']{
  border-bottom:1px solid var(--black);
}

input[name='password'],
input[name='profilePhoto']{
  border-top:1px solid var(--black);
}


input, textarea {
  font-family: inherit;
  padding: var(--XVIpt);
  border-radius: var(--IVpt);
  width: 100%;
  box-sizing: border-box;
}

input, button {
  font-size: 1.1em;
  text-align: center;
  border: var(--IVpt) solid var(--gunmetal);
}

input:focus, button:focus, textarea:focus {
  outline: none;
}

/* === Input fields === */
textarea {
  font-size: 1em;
  border: 0;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, .25);
  resize: none;
  height: 6em;
}

textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--black);
  opacity: 1; /* Firefox */
}

textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--black);
}

textarea::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--black);
}

input {
  font-weight: 300;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--black);
  opacity: 1; /* Firefox */
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--black);
}

input::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--black);
}

/* === Buttons === */

button {
  font-weight: 600;
  width: 100%;
}

button:hover {
  cursor: pointer;
}

/* == Media Query Changes == */

@media (min-width:450px) {
  .--logged-out-view,
  .--logged-in-view{
    max-width: unset;
  }

  .--login-controls{
    width:100%;
    max-width:32rem;
    margin:0 auto;
  }
}